body{
    margin: 0;
    padding: 0;
    background: url(backgaming.png);
    background-repeat: no-repeat ;
    background-size: cover;
}
.box{
    width: 450px;
    background:rgba(0, 0, 0, 0.8);
    padding: 4px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'century gothic', sans-serif;
}
.boximg{
    border-radius: 35%;
    width: 150px;
    height: 150px;
}
.box h1{
    font-size:50px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5{
    font-size: 32px;
    letter-spacing: 3px;
    font-weight: 100;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}

